/*----------------MEDIA QUERYS------------*/
 @media screen and (max-width:800px) {
    header .menu{
        font-size: 10px;
        width: 100%;
        display: block;
        padding: 0;
        text-align: center;
        margin: 0;
    }
    main .cuerpo .imagen_fondo img, 
    main .estudios img, main .competencias img, main .experiencia img {
        display: none;
        overflow: hidden;
    }
    /* main .experiencia img{ width: 400px; margin-left: -450px; margin-top: 100px;} */
    main .contacto img{ width: 200px; margin-left: -150px; margin-top: 80px;}
    main .cuerpo .imagen_cv img{
        width: 200px;
        margin-left: -100px;
    }
    main .cuerpo .imagen_cv{
        display: flex;
        align-items: center;
    }
    body footer p, body main .cuerpo p{
        font-size: 18px;
        margin: 130px 5px 50px 5px;
        text-align: center;
    }
    main .estudios, main .experiencia, main .competencias, main .contacto{
        border: none;
        left: 0;
        width: 100%;
        
    }
    main .competencias .tecnicas{ margin-left: -20px;}
    main .competencias .blandas{
        position: static;
        justify-content: right;
        margin-right: 20px;
        margin-top: 20px;
    }
    main .estudios p, main .experiencia p, main .competencias p{
        font-size: 14px;
        left:5px;
        text-align: left;
       
       
    }
    main .contacto a, main .contacto p{
        position: relative;
        text-decoration: none;
        color: black;
        font-size: 18px;
        padding-bottom: 15px;
        }
   
   
 }
